.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 40px;
  background-color: #4b5320;
  color: #f9f9f9;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items {
  margin: 0 30px;
  padding: 3px 0;
}

/* This prevents default browser styling for links - Blue or purple with underline */
.link {
  color: inherit;
  text-decoration: none;
}

/* HOMESCREEN */
.link-container {
  margin: 50px auto;
  width: 75%;
  max-width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px 0;
  transition: all 0.2s ease-in-out;
}

.link-container:hover {
  color: #f9f9f9;
  background-color: #4b5320;
}

.title {
  margin: 100px auto 20px auto;
  font-weight: 600;
  font-size: 1.75em;
}

.subtitle {
  margin: 0 auto 80px auto;
}

/*  ANSWERS  */
#answers-container {
  width: 90%;
  margin: 0 auto 10px auto;
}

.answer {
  width: 95%;
  margin: 2px auto;
  text-align: left;
}

/* LOGIN PAGE */
.login-form input {
  height: 30px;
  width: 60%;
  border: none;
  border-bottom: 2px solid #4b5320;
  margin: 5px 0;
  padding-left: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 2px solid #4b5320;
  background-color: white !important;
}

/* Used throughout app as floating container */
.card {
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
  background-color: #fff;
  margin: 0 auto;
}

/* Used throughout app to add box shadow to elements */
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Found animation at https://paulund.co.uk/css-animation-link-underline - This is used on the navbar to animate an underline below the links */
.middle {
  position: relative;
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
